
<body>
    <!-- Begin page -->
    <div id="wrapper">
        <!-- Top Bar mobile Start -->
        <div class="topbar-mobile">
            <div class="logo">
                <%= link_to image_tag('netsvs_logo.png'), root_path, :style => "height: 44px;" %>
                <button class="button-menu-mobile">
                    <i class="mdi mdi-menu"></i>
                </button>
            </div>
        </div>
        <!-- Top Bar End -->
        <!-- ========== Left Sidebar Start ========== -->
        <%= render 'left_sidebar' %>
        <!-- Left Sidebar End -->
        <!-- ========== Top Blog Start ========== -->
        <div class="page-wrapper">
            <!-- Story Start -->
            <section>
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="page-title">
                                <div class="row">
                                    <div class="col-md-9 col-xs-12">
                                        <h2><span>News and Stories</span></h2>

                                        <p class="subtitle text-muted">Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Proin gravida nibh vel velit auctor Aenean sollicitudin, adipisicing elit sed lorem quis bibendum auctor.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
          <!-- Top Bar mobile Start -->
            <section class="mt-5 pb-5">
                <div class="container">

                    <div class="row">
<!--                         Content-->
                        <div class="col-xl-8">

                            <!-- Post-->
                            <article class="post">
                              <% @posts.each do |post| %>

                                <div class="post-header">
                                    <h2 class="post-title"><%= link_to post.title, post %></h2>
                                    <ul class="post-meta">
                                        <li><i class="mdi mdi-calendar"></i> July 03, 2017</li>
                                        <li><i class="mdi mdi-tag-text-outline"></i> <a href="#">Branding</a>, <a href="#">Design</a></li>
                                        <li><i class="mdi mdi-comment-multiple-outline"></i> <a href="#">3 Comments</a></li>
                                    </ul>
                                </div>

                                <% post.files.each do |file| %>
                                <div class="post-preview">
                                  <% if file.previewable? || file.variable? %>
                                    <%= link_to(image_tag(file, class: "img-fluid rounded" ),  post_path(file, disposition: "attachment"))
                                    %>
                                  <% else %>
                                    <% link_to post_path do %>
                                      <% image_tag('blog/blog-1.jpg', class: "img-fluid rounded") %>
                                    <% end %>
                                  <% end %>

                                </div>
                                <% end %>

                                <div class="post-content">
                                    <p><%= post.content %> </p>
                                </div>

                                <div>
                                  <%= link_to root_path, class: "btn btn-outline-custom" do %>
                                    Read More
                                    <i class="mdi mdi-arrow-right"></i>
                                  <% end %>

                                </div>
                              <% end %>
                            </article>
                            <!-- Post end-->

                            <!-- Post-->
                            <article class="post">

                                <div class="post-header">
                                    <h2 class="post-title"><a href="#">Nature valley with cooling environment</a></h2>
                                    <ul class="post-meta">
                                        <li><i class="mdi mdi-calendar"></i> July 07, 2017</li>
                                        <li><i class="mdi mdi-tag-text-outline"></i> <a href="#">Branding</a>, <a href="#">Design</a></li>
                                        <li><i class="mdi mdi-comment-multiple-outline"></i> <a href="#">3 Comments</a></li>
                                    </ul>
                                </div>

                                <div class="post-preview">
                                    <%= link_to root_path do %>
                                      <%= image_tag('blog/blog-2.jpg', class: "img-fluid rounded", alt: "") %>
                                    <% end %>
                                </div>

                                <div class="post-content">
                                    <p>Whether an identity or campaign, we make your brand visible, relevant and effective by placing the digital at the center of its ecosystem, without underestimating the power of traditional media. Whether an identity or campaign, we make your brand visible.</p>
                                </div>

                                <div><a href="#" class="btn btn-outline-custom">Read More <i class="mdi mdi-arrow-right"></i></a></div>

                            </article>
                            <!-- Post end-->

                            <!-- Post-->
                            <article class="post">

                                <div class="post-header">
                                    <h2 class="post-title"><a href="#">Elegant, Simple & Minimalist Blog Made With Love</a></h2>
                                    <ul class="post-meta">
                                        <li><i class="mdi mdi-calendar"></i> July 05, 2017</li>
                                        <li><i class="mdi mdi-tag-text-outline"></i> <a href="#">Branding</a>, <a href="#">Design</a></li>
                                        <li><i class="mdi mdi-comment-multiple-outline"></i> <a href="#">3 Comments</a></li>
                                    </ul>
                                </div>

                                <div class="post-preview">
                                  <%= link_to root_path do %>
                                    <%= image_tag('blog/blog-3.jpg', class: "img-fluid rounded", alt: "") %>
                                  <% end %>
                                </div>

                                <div class="post-content">
                                    <p>Whether an identity or campaign, we make your brand visible, relevant and effective by placing the digital at the center of its ecosystem, without underestimating the power of traditional media. Whether an identity or campaign, we make your brand visible.</p>
                                </div>

                                <div><a href="#" class="btn btn-outline-custom">Read More <i class="mdi mdi-arrow-right"></i></a></div>

                            </article>
                            <!-- Post end-->

                            <!-- Pagination-->
                            <%= render 'pagination' %>
                            <!-- Pagination end-->
                        </div>
                        <!-- Content end-->

                        <!--Right Sidebar-->
                        <%= render 'right_sidebar' %>
                        <!--Right Sidebar end-->
                    </div>

                </div>
                <!-- end container -->
            </section>
        </div>
        <!-- Top Story End-->
    </div>

</body>
